{% extends 'base.html' %}

{%block content%}
<div class="container">

<br>
<h1 class="text-center">Merely have chance to get affected by COVID-19</h1>
<h5 class="text-center">you should stay isolation</h5><br>
<h3><strong>Emergency Phone number : <strong></h3><br>
<ul>
<li>National Call Center : 333</li>
<li>Health Portal : 16263</li>
<li>IEDCR : 10655</li>
<li>Specialist Health Line : 019611677777</li>

</ul>


<h3><strong>At-Home Coronavirus Treatment<strong></h3>
<ul>
<li>Rest. It can make you feel better and may speed your recovery.</li>
<li>Stay home. Don't go to work, school, or public places.</li>
<li>Drink fluids. You lose more water when you're sick. Dehydration can make symptoms worse and cause other health problems.</li>
<li>If your symptoms get worse, call your doctor right away.</li>
<li>Ask your doctor about over-the-counter medicines that may help, like acetaminophen to lower your fever.</li>
</ul>

</div>
{%endblock%}
